.root{
    -fx-background-color: pink;

}

Button
{
    -fx-min-width: 100px;
    -fx-max-width: 100px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-background-color: white;
    -fx-border-color: darkgreen;
    -fx-border-width: 3;
    -fx-border-style: segments(10, 15, 15, 15)  line-cap round ;
}

Button:pressed
{
    -fx-background-color: green;

}